/* public/assets/fonts/Gotham-Font/Gotham-Light.otf */
@font-face {
  font-family: 'GothamMedium';
  src: url('../../../public/assets/fonts/Gotham-Font/GothamMedium.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GothamBold';
  src: url('../../../public/assets/fonts/Gotham-Font/Gotham-Bold.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Minimal';
  src: url('../../../public/assets/fonts/minimal.otf') format('opentype');
  font-style: normal;
}

.hero {
  /* background-image: url('../images/landing01.jpg'); */
  height: 100vh; /* Ajusta la altura del hero al 100% de la ventana gráfica */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 0 20px; /* Añade algo de padding */
}
.hero h1 {
  margin: 0;
  font-size: 2.5em;
}
.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.hero button {
  padding: 10px 20px;
  font-size: 1em;
  color: #000;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.hero button:hover {
  background-color: #f2f2f2;
}

.gotham-medium {
  font-family: 'GothamMedium';
}

.gotham-bold {
  font-family: 'GothamBold';
}

.minimal {
  font-family: 'Minimal';
}

.text-16xl {
  font-size: 10rem;
}
